@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}





<!--start content-->
<main class="page-content">

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-header py-3 bg-transparent">
                    <h5 class="mb-0">재고 등록</h5>
                </div>
                <div class="card-body">
                    <div class="border p-3 rounded">
                        <form asp-controller="Inventory" asp-action="create" enctype="multipart/form-data" method="post" class="row g-3">
                            @foreach (var product in Model)
                            {
                                <input type="hidden" name="ProductId" value="@product.ProductId" />
                                <div class="col-12">
                                    <label class="form-label" color="blue">상품 이름</label>
                                    <div class="form-control">@product.Name</div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">생산 수량</label>
                                    <input type="text" class="form-control" name="Count" value="@product.Count">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">생산 일자</label>
                                    <input type="date" class="form-control currentDate" id="currentDate" name="CreateTime">
                                </div>
                                <p></p>
                                <hr width="100%" color="black" size="3">
                            }
                            <div class="col-12">
                                <button class="btn btn-primary px-4">재고 등록</button>
                            </div>
                        </form>
                        <p></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->

    <script>
            window.onload = function() {
            var currentDates = document.getElementsByClassName('currentDate');
            currentDates.forEach(function (currentDate) {
                currentDate.value = new Date().toISOString().substring(0, 10);
            });
            }
    </script>

        



</main>
<!--end page main-->

@*<form asp-controller="Inventory" asp-action="create" method="post">
    @foreach(Product_Model product in Model)
    {
        <input type="hidden" name="ProductId"  value="@product.Id" />
        <div>상품이름 : @product.Name </div>
        <div>생산갯수 : <input type="text" name="Count"  value="0" /> </div>
        <div>생산날짜 : <input type="date" id="currentDate" name="CreateTime"> </div>   
        <p></p>
    }
    <p></p>
    <button>상품등록</button>
</form>*@

