<!--start content-->
<main class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">상품 목록</div>
    </div>
    <!--end breadcrumb-->

    <div class="card" style="padding-bottom: 10px;">
        <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-striped">
                        <thead class="table-light">
                            <tr>
                                <th>Check</th>
                                <th>상품 이미지</th>
                                <th>상품 이름</th>
                                <th>상품 가격</th>
                                <th>상품 상태</th>
                                <th>상품 수량</th>
                                <th>상품 수정</th>
                            </tr>
                        </thead>
                    @foreach (Product_Model product_model in Model)
                    {
                        <tbody>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </td>
                            <td class="productlist">
                                <div class="product-box">
                                    <img src=@product_model.ImgUrl style="width:80px; height:80px">
                                </div>
                            </td>
                            <td><span>@product_model.Name</span></td>
                            <td><span>@product_model.Price</span></td>
                            <td><span>@product_model.Status</span></td>
                            <td><span>@product_model.Quantity</span></td>
                            <td>
                                <span>
                                    <div class="text-start">
                                        <a class="btn btn-primary px-4" href="/Product/detail?id=@product_model.Id">@product_model.Name 수정</a>
                                    <div>
                                </span>
                                </td>
                        </tbody>
                    }
                    </table>
                </div>
            </div>
        @if (User.IsInRole("ProductManager"))
        {
        <div class="text-lg-center">
            <a class="btn btn-primary px-4" href="/product/create">상품 등록</a>
        </div>
        }
        <div class="text-lg-center">
            <a class="btn btn-primary px-4" href="/product/storedList">출고 내역</a>
            <a class="btn btn-primary px-4" href="/product/productionList">상품 제조 현황</a>
        </div>
    </div>
</main>
<!--end page main-->

@*@if (User.IsInRole("ProductManager"))
{
    <a href="/Product/create">상품등록</a>
}
<a href="/Product/storedList">출고내역</a>

<a href="/Product/productionList">상품제조현황</a>

@foreach(Product_Model product_model in Model)
{

    <div>상품명 : @product_model.Name</div>
    <div>가격 : @product_model.Price</div>
    <div>상태 : @product_model.Status</div>
    <div>재고량 : @product_model.Quantity</div>
    <a href="/Product/detail?id=@product_model.Id">@product_model.Name 수정</a>    
    <div><img src="@product_model.ImgUrl"/></div>
    <p></p>
}*@