@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@foreach(Order_Model order in Model)
{
    
    <div>주문자 : @order.Customer</div>
    <div>진행상황 : @order.Status</div>
    <div>주문등록 시간 : @order.RegisterDate</div>
    <div>주문마감 시간 : @order.EndDate</div>    
    <a href="/order/detail?id=@order.Id">@order.Customer 주문수정</a>
    <p></p>
}
<a href="/order/create">주문등록</a>